# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# Django
*.log
local_settings.py
db.sqlite3
*.sqlite3
db.sqlite3-journal

# Static & media (uncomment if you don't want these in repo)
# /staticfiles/
# /media/

# Environment variables
.env
.env.*
!.env.example

# IDE / OS
.idea/
.vscode/
*.swp
*~
.DS_Store
Thumbs.db
